@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-gray);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.main {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 20vh;
}

.attribution { 
    position: absolute;
    font-size: 11px; 
    bottom: 0;
    width: 100%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1em;
}

img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.title {
    color: var(--dark-blue);
    font-size: 1.5em;
    font-weight: 800;
    padding: 0 1em;
}

.description {
    color: var(--grayish-blue);
    font-size: 1.1em;
    font-weight: 400;
    padding: 0 1em;
}